/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }


/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/**
 * Primary styles
 *
 * Author: @calvein
 */


::-moz-selection{ background: rgba(150, 190, 220, .5);}
::selection { background:rgba(150, 190, 220, .5);}

html {
	background: white;
	background: rgba(150, 190, 220, .5);
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, rgba(150, 190, 220, .5)), to(rgba(150, 190, 220, .5))), -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, rgba(150, 190, 220, .5)), to(rgba(150, 190, 220, .5)));
	background: -webkit-linear-gradient(transparent 50%, rgba(150, 190, 220, .5) 50%, rgba(150, 190, 220, .5)), -webkit-linear-gradient(0deg, transparent 50%, rgba(150, 190, 220, .5) 50%, rgba(150, 190, 220, .5));
	background: -moz-linear-gradient(transparent 50%, rgba(150, 190, 220, .5) 50%, rgba(150, 190, 220, .5)), -moz-linear-gradient(0deg, transparent 50%, rgba(150, 190, 220, .5) 50%, rgba(150, 190, 220, .5));
	background: -o-linear-gradient(transparent 50%, rgba(150, 190, 220, .5) 50%, rgba(150, 190, 220, .5)), -o-linear-gradient(0deg, transparent 50%, rgba(150, 190, 220, .5) 50%, rgba(150, 190, 220, .5));
	background: linear-gradient(transparent 50%, rgba(150, 190, 220, .5) 50%, rgba(150, 190, 220, .5)), linear-gradient(0deg, transparent 50%, rgba(150, 190, 220, .5) 50%, rgba(150, 190, 220, .5));
	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;
}

body {
	min-width: 960px;
	margin: 5em 10em;
	padding: 15px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-family: 'Droid Sans', Arial, sans-serif;
}

h1 {
	font-family: 'Josefin Slab', Times, serif;
	font-size: 7em;
	text-align: center;
	color: #6e8c96;
	text-shadow:	0 1px 0 hsl(195, 16%, 40%),
					0 2px 0 hsl(195, 16%, 41%),
					0 3px 0 hsl(195, 16%, 42%),
					0 4px 0 hsl(195, 16%, 43%),
					0 5px 0 hsl(195, 16%, 44%),
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.3),
					0 3px 5px rgba(0,0,0,.2),
					0 5px 10px rgba(0,0,0,.25),
					0 10px 10px rgba(0,0,0,.2),
					0 20px 20px rgba(0,0,0,.15);
}

#✿, .example {
    width: 960px;
    height: 200px;
    margin: 50px auto;
    background: #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#d, .ribbon {
    position: relative;
    top: 40px;
    left: -32px;
    width: 1024px;
    height: 48px;
    background: #96BEDC;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

#before, #after, .ribbon:before, .ribbon:after {
    content: '';
    display: none;
    position: absolute;
    top: -32px;
    border-style: solid;
    border-width: 16px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.ribbon:before, .ribbon:after {
	display: block;
}

#before, .ribbon:before {
    left: 0;
    border-color: transparent #6e8c96 #6e8c96 transparent;
}

#after, .ribbon:after {
    right: 0;
    border-color: transparent transparent #6e8c96 #6e8c96;
}

#parameters {
	width: 300px;
	margin: 0 auto;
	list-style: none;
}

#parameters li {
	display: block;
	margin-top: 3px;
}
#parameters li * {
	display: inline-block;
}

#parameters li:not(.checkbox) label {
	width: 130px;
}

#parameters input {
	width: 150px;
}

.no-input\[range\] #parameters input[type="range"], .no-input\[color\] #parameters input[type="color"] {
	padding: 2px 3px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .15) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .15) inset;
	border: 1px solid rgba(0, 0, 0, .15);
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.no-input\[range\] #parameters input[type="range"]:hover, .no-input\[color\] #parameters input[type="color"]:hover {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .4) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .4) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .4) inset;
	border: 1px solid rgba(0, 0, 0, .4);
}

.no-input\[range\] #parameters input[type="range"]:focus, .no-input\[color\] #parameters input[type="color"]:focus, .no-input\[range\] #parameters input[type="range"]:active, .no-input\[color\] #parameters input[type="color"]:active {
	outline: none;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1) inset, 0 0 8px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .1) inset, 0 0 8px rgba(0, 0, 0, .1);
	box-shadow: 0 0 8px rgba(0, 0, 0, .1) inset, 0 0 8px rgba(0, 0, 0, .1);
	border: 1px solid rgba(0, 0, 0, .1);
}

html:not(.ie9)  #parameters input[type="checkbox"] {
	/* Rend très mal sur Firefox et très moche sur IE */
	width: 1.3em;
	height: 1.3em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .15) inset;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .15) inset;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
	vertical-align: text-top;
	margin: 0 10px 0 23px;
}

.ie7  #parameters input[type="checkbox"], .ie8  #parameters input[type="checkbox"], .ie9  #parameters input[type="checkbox"] {
	width: 1em;
	height: 1em;	
}

html:not(.ie9)  #parameters input[type="checkbox"]:hover {
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .4) inset;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .4) inset;
}

html:not(.ie9)  #parameters input[type="checkbox"]:checked {
	background-image: -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 4, from(#000), to(#eee));
	background-image: -webkit-radial-gradient(50% 50%, circle, #000 2px, #eee 4px);
	-webkit-box-shadow: 0 1px 8px rgba(100, 100, 100, .5) inset;
	-moz-box-shadow: 0 1px 8px rgba(100, 100, 100, .5) inset;
	box-shadow: 0 1px 8px rgba(100, 100, 100, .5) inset;
}

#copy {
	display: inline-block;
	margin: 10px 30px;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
}

pre {
	padding: 0;
	font: 14px/20px Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	white-space: pre-wrap;
}

.code {
	display: none;
}

.code pre {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #aaa;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

h2, h3 {
	margin: 25px 0 0;
	color: #4a5f66;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.33em;
}

.example {
	position: relative;
    margin: 50px auto 10px;
	z-index: 1;
}

a {
	position: relative;
}

a:active {
	top: -1px;
}

/* Left */

.ribbon.left {
	width: 66%;
}

.ribbon.left:after {
	display: none;
}

/* Shadow */

.ribbon.shadow {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .4), 0 0 20px rgba(0, 0, 0, .15) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .4), 0 0 20px rgba(0, 0, 0, .15) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .4), 0 0 20px rgba(0, 0, 0, .15) inset;
}

.ribbon.shadow .ribbon-shadow {
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	bottom: 0;
	left: 15px;
	-moz-border-radius: 666px / 20px;
	border-radius: 666px / 20px;
	-webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.6);
	z-index: -1;
}

#examples em {
	display: block;
	margin: 10px 0;
	text-align: center;
	font-size: .75em;
	font-style: italic;
}

footer {
	width: 500px;
	margin: 0 auto;
	padding-top: 5px;
	text-align: center;
	font-size: .8em;
	border-top: 1px dashed #666;
}


/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}